---
title: Latest posts
layout: blog
permalink: /blog
display_title: 1
---

<div class="row">
	{% for post in site.posts %}
		<div class="col-md-6 .article mb-5">
			
			<a href="{{ post.url }}">
				{% if post.featured-image %}
					<div class="featured-image rounded mb-3" style="background-image: url({{ post.featured-image }})"></div>
				{% else %}
					<div class="featured-image rounded mb-3" style="background-image: url({{ site.url }}/assets/images/og.jpg)"></div>
				{% endif %}
			</a>
			
			<div class="mb-3">
				<a href="{{ post.url }}">
					<h2>{{ post.title }}</h2>
					<span class="article-meta"><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> | {{ post.category }}</small></span>
				</a>
			</div>
			
			{{ post.excerpt | strip_html | strip_newlines | truncate: 140 }}  
			
		</div>
	{% endfor %}
</div>