---
title:				"blog"
description:		"welcome to the #tinyau blog"
layout:				blog
permalink:			/blog
show_title:			true
show_description:	true
---

{% for post in site.posts %}
	<div class="article mb-5">
		
		<div class="mb-3">
			<h2>{{ post.title }}</h2>
		</div> 		

		<div class="featured-image">
			<a href="{{ post.url }}">
				{% if post.featured-image %}
					<div class="rounded mb-3" style="background-image: url({{ post.featured-image }})"></div>
				{% else %}
					<div class="rounded mb-3" style="background-image: url({{ site.url }}/assets/images/og.jpg)"></div>
				{% endif %}
			</a>
		</div>
		
		<div class="article-meta mb-1"><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> | {{ post.category }}</small></div>
		<div class="excerpt">
			{{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}
		</div>
		
	</div>
{% endfor %}