---
title:				"blog"
description:		"welcome to the #tinyau blog"
layout:				blog
permalink:			/blog
show_title:			true
show_description:	true
---

{% for post in site.posts %}
	<div class="article mb-5">
		

		<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>	

		<div class="featured-image my-3">
			{% if post.featured-image %}
				<div class="rounded" style="background-image: url({{ post.featured-image }})"></div>
			{% else %}
				<div class="rounded" style="background-image: url({{ site.url }}/assets/images/og.jpg)"></div>
			{% endif %}
		</div>
		
		<div class="article-meta my-3">
			<small>
				<span class="post-meta bg-white"><strong>Published:</strong> {{ post.date | date: "%B %e, %Y" }}</span>
				<span class="post-meta bg-white"><strong>Category:</strong> {{ post.category }}</span>
			</small>
		</div>
		
		<div class="excerpt my-3">
			{{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}
		</div>
		
		<a href="{{ site.baseurl }}{{ post.url }}" class="link-red link-underline">Continue reading...</a>
		
	</div>

	<hr class="mb-5" />
{% endfor %}