---
title:	Tiny Australia
---

{% include header.html %}
			
	<!-- Title -->
	<div class="jumbotron">
		<h1 class="display-5">... a place to dissolve ego, and discover absolute truth.</h1>
		<p class="lead"><b>"There are two ways to be rich: One is by acquiring much, and the other is by desiring little." </b><i>Jackie French Koller, 1948</i></p>
	</div>

	<!-- Body -->
	<p>Tiny Australia is a community of independent thinkers whom have embraced minimalism and like the idea of and on a journey to self-awarenes through the practice of various forms of meditation and personal development. Our plan is to build a tiny-home villange that is hidden away in naturemeditation retreats will be located in the heart of Queensland nature with awe-inspiring views where guests can truely escape the hussle of every-day life and allow a more cultured environment for journeying inward.</p>

	<p>Inspired by the ancient practice of Vipassana meditation, and drawing upon a minimalist lifestyle, the retreat will offer guests a veriety of mindfulness activities focussed on mental wellbeing, relaxation, and connection. Although our retreat is still in early development, we are excited to have your visit our website where we'll be posting regular updates on progress.</p>

	<hr class="mt-5" />

	<ul class="social-btn mb-5">
		<li><a href="https://www.instagram.com/tinyaustralia" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></li>
		<li><a href="https://www.facebook.com/tinyaustralia" target="_blank"><i class="fab fa-facebook"></i>Facebook</a></li>
		<li><a href="https://www.twitter.com/tinyaustralia" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></li>
	</ul>

{% include footer.html %}