		<footer class="footer py-3 bg-light border-top">
			<div class="container">
				<div class="d-flex">
					
					<ul>
						<li><a class="text-muted" href="#">Legal Stuff</a></li>
						<li><a class="text-muted" href="#">Privacy</a></li>
					</ul>
					
					<div class="ml-auto text-muted">© Tiny Australia</div>
					
				</div>
			</div>
		</footer>

	</body>

	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FRN8PS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</html>