					</content>
					
				</div>

				<!-- Sidebar Column -->
				<div role="sidebar" class="sidebar col-md-4">{% include sidebar.html %}</div>

			</div>
		</main>

		<footer class="footer py-3 bg-light border-top">
			<div class="container">
				<div class="d-flex">
					
					<ul class="footer-links">
						<li><a href="#">Legal Stuff</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
					
					<div class="footer-copyright ml-auto">© Tiny Australia</div>
					
				</div>
			</div>
		</footer>

	</body>

	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FRN8PS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</html>