<li class="ml-1 mr-3"><i class="fas fa-share"></i></li>

<li class="mr-1">
	<a href="https://twitter.com/intent/tweet?text=&url={{ site.url }}{{site.baseurl}}{{ post.url }}" onclick="initShare()"><i class="fab fa-twitter"></i></a>
</li>

<li class="mr-1">
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ post.url }}" onclick="initShare()" ><i class="fab fa-facebook"></i></a>
</li>

<script>
function initShare() {
	window.open(this.href, '_blank','left=20,top=20,toolbar=0,resizable=0'); return false;
}
</script>