<ul class="share-menu">
	<li class="share-button">
		
		<i class="fas fa-share-alt"></i>
		
		<ul class="share-links">

			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ post.url }}" onclick="window.open( this.href, 'sharewin','left=20, top=20, width=450, height=500, toolbar=no, location=no, status=no, menubar=no, scrollbar=yes, resizable=yes' ); return false;" target="_blank" class="facebook">
					<i class="fab fa-facebook-f"></i>
				</a>
			</li>

			<li>
				<a href="https://twitter.com/intent/tweet?text=&url={{ site.url }}{{site.baseurl}}{{ post.url }}" onclick="window.open( this.href, 'sharewin','left=20, top=20, width=450, height=500, toolbar=no, location=no, status=no, menubar=no, scrollbar=yes, resizable=yes' ); return false;" target="_blank" class="twitter">
					<i class="fab fa-twitter"></i>
				</a>
			</li>

		</ul>
		
	</li>
</ul>