<div class="sticky-top">
	
	<div class="card card-body bg-light mb-3">
		<h5>Recent posts</h5>
		<ul>
			{% for post in site.posts limit:5 %}  
			<li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
				<p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> | {{ post.category }} </small></p>
			</li>
			{% endfor %}  
		</ul>
	</div>

	<div class="card bg-light mb-3">
		<div class="card-body">
			<h5>Categories</h5>
			<ul>
				{% assign categories_list = site.categories %}
				{% if categories_list.first[0] == null %}
				{% for category in categories_list %}
				<li>
					<a href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a>
				</li>
				{% endfor %}
				{% else %}
				{% for category in categories_list %}
				<li>
					<a href="#{{ tag[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a>
				</li>
				{% endfor %}
				{% endif %}
				{% assign categories_list = nil %}
			</ul>
		</div>
	</div>
	
</div>