<div class="sticky-top">
	
	<div class="card card-body bg-white mb-3">
		<h5>Follow our progress</h5>
		<form action="https://formspree.io/xknjywog" method="POST">
			<input class="form-control mb-2" type="email" name="_replyto" placeholder="Email address">
			<button class="btn btn-danger btn-block" type="submit" >Join mailing list</button>
			<small class="text-center text-muted mt-2">We understand time is a valuable commodity.</small>
		</form>
	</div>

	<div class="card bg-white mb-3">
		<img src="/assets/images/carnival.jpg" class="card-img-top" alt="Tiny Homes Carnival Event">
		<div class="card-body">
			<h5 class="card-title">Latest news</h5>
			<p class="card-text">We are attending the Tiny Homes Carnival in Sydney this year with the intention to learn more about tiny-home construction and experience some of the amazing designs Aussie builders are coming up with. We hope to see you there! <a href="https://www.tinyhomescarnival.com/" target="_blank">Get tickets</a>.</p>
		</div>
	</div>
	
</div>