/* Reset */

@media only screen and (min-width : 768px) {
    .container { max-width: 1024px; }
}

html {
	position: relative;
	min-height: 100%;
}

.display-2 {
	line-height: 1.2;
}

ul {
    margin: 0;
    padding: 0;
}

li {
	list-style: none;
	display: inline-block;
}

sup {
    font-weight: 700;
    padding: 2px;
}

main {
	margin: 40px 0 100px 0;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

/* Reusables */

.roboto {
	font-family: "Roboto", sans-serif;
}

.roboto-slab {
	font-family: "Roboto Slab", serif;
}

.dropcaps {
	position: relative;
    bottom: -5px;
    line-height: 1;
}

/* Header */

.navbar {
    min-height: 60px;
}

.navbar-brand {
    margin-right: 15;
}

.navbar-brand .logo {
	width: 35px;
    height: 35px;
    margin-right: 3px;
    border: 1px solid #dd6764;
    border-radius: 100%;
}

/* Primary */

.page-title .description {
	display: inline-block;
    color: #fff;
    background-color: #c44641;
    padding: 5px 10px;
    border-radius: 0.15rem;
}

/* Blog */

.article-image {
    height: 132px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.post-meta {
	display: inline-block;
    padding: 4px 8px;
    border: 1px solid #dfe3e6;
    border-radius: 3px;
	font-size: 12px;
}

/* Media */

.gallery {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%;
}

@media (max-width: 450px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}

/* Sidebar */

.sticky-top {
    top: 30px;
}

/* Blockquote */

.blockquote-container {
    position: relative;
    padding: 0 20px;
}

.blockquote-container blockquote {
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    position: relative;
    margin-bottom: 8px;
}

.blockquote-container blockquote:first-child:before {
	content: '\201C';
    color: #c44641;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .12;
    position: absolute;
    top: -80px;
    left: 0;
}

.blockquote-container cite {
    color: #aaa;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Share Buttons */

.share-menu {
	z-index: 999;
	position: relative;
	margin: 12px 0;
}

.share-menu .share-button i {
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	border-radius: 100%;
}

.share-menu .share-button:hover li:nth-child(1) {
	opacity: 1;
	right: 45px;
}

.share-menu .share-button:hover li:nth-child(2) {
	opacity: 1;
	right: 90px;
}

.share-menu .share-button:hover li:nth-child(3) {
	opacity: 1;
	right: 135px;
}

.share-menu .share-button .share-links li {
	transition: all ease-in-out 0.5s;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	opacity: 0;
}

.share-menu .share-button .share-links li a:hover i {
	background-color: #fff;
	color: #343a40;
}

/* Footer */

.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
	font-size: 15px;
	background-color: #e9dcbe;
}

.footer .navbar-nav {
    display: inline-block;
}

.footer ul {
	margin: 0;
	padding: 0;
}

.footer .nav-link {
    padding: 0 !important;
    margin: 0 12px 0 0 !important;
}