html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	font-weight: 600;
}

h1, .h1,
h2, .h2 {
	font-family: 'Merriweather', serif;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
	font-size: 1.3rem;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article-meta {
    color: #444;
}

a {
	color: #d62c2f;
}

a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #d62c2f;
}

ul {
    margin: 0;
    padding: 0;
}

li {
	list-style: none;
	display: inline-block;
}

.text-center {
	display: block;
}

.sticky-top {
	top: 30px;
}

.dropcaps {
	font-family: "Roboto Slab", serif;
    font-size: 3.2rem;
    font-weight: 500;
    color: #c44641;
    float: left;
    line-height: 38px;
    padding: 5px 8px 0 0;
}

sup {
    font-weight: 700;
    padding: 2px;
}

main {
	margin: 40px 0 100px 0;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.navbar-light .navbar-brand {
    margin-right: 0;
}

.navbar-brand-text {
	color: #c44641 !important;
    font-size: 1.2rem;
    line-height: 1.2;
	margin-right: 15px;
}

.navbar-brand img.logo {
	width: 35px;
    height: 35px;
    margin-right: 3px;
    border: 1px solid #dd6764;
    border-radius: 100%;
}

.dropdown-toggle::after {
	margin-left: .280em;
	vertical-align: .280em;
	border-top: .2em solid;
	border-right: .2em solid transparent;
	border-left: .2em solid transparent;
}

.lead {
    font-size: inherit;
    font-weight: inherit;
}

.quote {
	background-color: #f8f9fa;
    border: 1px solid #e5e5e6;
    padding: 20px;
    margin: 40px 0;
}

.featured-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.gallery {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%;
}

@media (max-width: 450px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}

.card {
    border: 1px solid #e4e7eb;
}

.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
	font-size: 15px;
}

.footer ul {
	margin: 0;
	padding: 0;
}

.footer a {
	margin-right: 12px;
}