html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
	color: 444444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
	margin-bottom: 1rem;
	font-weight: 700;
}

h1, .h1,
h2, .h2 {
    font-family: "Roboto Slab", serif;
}

.roboto-slab {
	font-family: "Roboto Slab", serif;
}

.btn-light {
    border-color: #ecedf0;
}

.page-title .description {
	display: inline-block;
    font-size: 1.2rem;
    background-color: #c44641;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0.15rem;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
	font-size: 1.5rem;
	line-height: 1.4;
	text-decoration: none;
}

.article a {
	text-decoration: none;
}

.article-meta {
    color: #444;
}

.text-muted {
    color: #aaa !important;
}

.post-meta {
	display: inline-block;
    padding: 4px 8px;
    border: 1px solid #dfe3e6;
    border-radius: 3px;
	font-size: 12px;
}

.p-4 {
    padding: 2.5rem !important;
}

.recent-posts-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-danger {
    background-color: #c44641;
    border-color: #c44641;
}

.btn-success {
    background-color: #8BC34A;
    border-color: #8BC34A;
}

a {
    color: #444444;
}

a:focus,
a:active,
a:hover,
.navlink:focus,
.navlink:active,
.navlink:hover {
	text-decoration: underline !important;
	color: #d34a41;
}

.link-red {
    color: #c44641 !important;
}

.link-underline {
    text-decoration: underline !important;
}

ul {
    margin: 0;
    padding: 0;
}

li {
	list-style: none;
	display: inline-block;
}

.text-center {
	display: block;
}

.sticky-top {
	top: 30px;
}

hr {
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.dropcaps {
	font-family: "Roboto Slab", serif;
    font-size: 3.2rem;
    font-weight: 500;
    color: #c44641;
    float: left;
    line-height: 38px;
    padding: 5px 8px 0 0;
}

sup {
    font-weight: 700;
    padding: 2px;
}

main {
	margin: 40px 0 100px 0;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.navbar {
    min-height: 60px;
}

.footer .navbar-nav {
    display: inline-block;
}

.footer .nav-link {
    padding: 0 !important;
    margin: 0 12px 0 0 !important;
}

.navbar-light .navbar-brand {
    margin-right: 15;
}

.navbar-brand-text {
	color: #c44641 !important;
    font-size: 1.2rem;
    line-height: 1.2;
	margin-right: 15px;
}

.navbar-brand img.logo {
	width: 35px;
    height: 35px;
    margin-right: 3px;
    border: 1px solid #dd6764;
    border-radius: 100%;
}

.dropdown-toggle::after {
	margin-left: .280em;
	vertical-align: .280em;
	border-top: .2em solid;
	border-right: .2em solid transparent;
	border-left: .2em solid transparent;
}

.lead {
    font-size: inherit;
    font-weight: inherit;
}

.bg-white {
    background-color: #fafafa !important;
}

.featured-image div {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.gallery {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%;
}

@media (max-width: 450px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}

.card {
    border: 1px solid #e4e7eb;
}

.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
	font-size: 15px;
	background-color: #e9dcbe;
}

.footer ul {
	margin: 0;
	padding: 0;
}


/* Blockquote */

.blockquote-container {
    position: relative;
    padding: 0 20px;
    font-size: 16px;
}

.blockquote-container blockquote {
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    position: relative;
    margin-bottom: 8px;
}

.blockquote-container blockquote:first-child:before {
	content: '\201C';
    color: #c44641;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .12;
    position: absolute;
    top: -80px;
    left: 0;
}

.blockquote-container cite {
    color: #aaa;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}