.gallery {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 600px; 
}

.gallery .pics {
  width: 32%;
  margin-bottom: 2%;
}

.gallery .pics:nth-child(3n+1) { order: 1; }
.gallery .pics:nth-child(3n+2) { order: 2; }
.gallery .pics:nth-child(3n)   { order: 3; }

.gallery::before,
.gallery::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}