---
title:				"Sprinter Van Conversion"
description:		"Mercedes-Benz 2015 Sprinter 316 CDI (MWB) Van"
layout:				single
permalink:			/blog/vanlife/sprinter-van-conversion
show_title:			true
show_description:	true
category:			Vanlife
tags:				[vanlife, van conversion, van build]
featured-image:		"/assets/images/blog/vanlife/completed/15c.jpg"
---


<p class="mb-5">The page is currently under construction. More information will be available soon, but you may enjoy some snaps taking during the conversion of this Mercedes-Benz 2015 316 CDI MWB Sprinter Van. It is currently my tiny-home on wheels that I'm living and travelling around Australia in. I will be writing more about the process and some useful tips which may help you if you're thinking about doing your own conversion. Thanks for your patience.</p>

<div class="mb-3">
	<button type="button" class="btn btn-light mb-1 filter" data-rel="all">All</button>
	<button type="button" class="btn btn-light mb-1 filter" data-rel="insulation">Insulation</button>
	<button type="button" class="btn btn-light mb-1 filter" data-rel="panelling">Panelling</button>
	<button type="button" class="btn btn-light mb-1 filter" data-rel="fixtures">Fixtures</button>
	<button type="button" class="btn btn-light mb-1 filter" data-rel="electrics">Electrics</button>
	<button type="button" class="btn btn-light mb-1 filter" data-rel="schematics">Schematics</button>
	<button type="button" class="btn btn-light mb-1 filter" data-rel="completed">Completed</button>
</div>

<div class="gallery" id="gallery">
	
	{% for image in site.static_files %}
	    {% if image.path contains '/assets/images/blog/vanlife/insulation' %}
			<div class="mb-3 pics all insulation">
				<a href="{{ site.baseurl }}{{ image.path }}" data-toggle="lightbox">
					<img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="Card image cap">
				</a>
			</div>
	    {% endif %}
	{% endfor %}
	
	{% for image in site.static_files %}
	    {% if image.path contains '/assets/images/blog/vanlife/panelling' %}
			<div class="mb-3 pics all panelling">
				<a href="{{ site.baseurl }}{{ image.path }}" data-toggle="lightbox">
					<img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="Card image cap">
				</a>
			</div>
	    {% endif %}
	{% endfor %}
	
	{% for image in site.static_files %}
	    {% if image.path contains '/assets/images/blog/vanlife/fixtures' %}
			<div class="mb-3 pics all fixtures">
				<a href="{{ site.baseurl }}{{ image.path }}" data-toggle="lightbox">
					<img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="Card image cap">
				</a>
			</div>
	    {% endif %}
	{% endfor %}
	
	{% for image in site.static_files %}
	    {% if image.path contains '/assets/images/blog/vanlife/electrics' %}
			<div class="mb-3 pics all electrics">
				<a href="{{ site.baseurl }}{{ image.path }}" data-toggle="lightbox">
					<img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="Card image cap">
				</a>
			</div>
	    {% endif %}
	{% endfor %}
	
	{% for image in site.static_files %}
	    {% if image.path contains '/assets/images/blog/vanlife/schematics' %}
			<div class="mb-3 pics all schematics">
				<a href="{{ site.baseurl }}{{ image.path }}" data-toggle="lightbox">
					<img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="Card image cap">
				</a>
			</div>
	    {% endif %}
	{% endfor %}
	
	{% for image in site.static_files %}
	    {% if image.path contains '/assets/images/blog/vanlife/completed' %}
			<div class="mb-3 pics all completed">
				<a href="{{ site.baseurl }}{{ image.path }}" data-toggle="lightbox">
					<img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="Card image cap">
				</a>
			</div>
	    {% endif %}
	{% endfor %}

</div>

<script>
	
	$(function() {
		var selectedClass = "";
		$(".filter").click(function(){
			selectedClass = $(this).attr("data-rel");
			$("#gallery").fadeTo(100, 0.1);
			$("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
				setTimeout(function() {
					$("."+selectedClass).fadeIn().addClass('animation');
					$("#gallery").fadeTo(300, 1);
				}, 300);
		});
	});
	
	$(document).on('click', '[data-toggle="lightbox"]', function(event) {
	    event.preventDefault();
	    $(this).ekkoLightbox();
	});
	
</script>