{% include header.html %}

	<!-- Page Wrapper -->
	<main id="primary" role="main" class="container">
		<div class="row">

			<!-- Primary Column -->
			<div class="primary col-md-8">

				<div class="page-title">
					<!-- Title -->
					{% if page.display_title == 1 %}
						<h1 class="display-5 mb-2">{{ page.title }}</h1>
					{% endif %}
					
					<!-- Description -->
					{% if page.display_description == 1 %}
						<h2 class="mb-5">{{ page.description }}</h2>
					{% endif %}
				</div>
				
				<!-- Content Wrapper -->
				<content class="page-content">
					
					{{ content }}

				</content>
				
			</div>

			<!-- Sidebar Column -->
			<div id="secondary" role="sidebar" class="sidebar col-md-4">{% include sidebar-page.html %}</div>

		</div>
	</main>

{% include footer.html %}